IPFS_SWARM_PORT=4020
IPFS_LOCAL_GATEWAY=8080
IPFS_WS=8081
IPFS_API=5001

IPFS_DOMAIN="http://172.17.0.1"
IPFS_PORT=5001

API_PORT=5033
API_SECRET='api-secret'

SQL_NAME='proxy'
SQL_USER='user'
SQL_PASS='pass'
SQL_ROOT_PASS='pass'